* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #7431F9;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin-top: 30px;
}

.heading {
    padding-top: 20px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.desc{
    font-weight: 600;
    margin-bottom: 10px;
}

input[type="text"] {
    box-sizing: border-box;
    border: solid rgba(128, 128, 128, 0.395);
    border-width: 0px 0px 2px 0px;
    /* padding-left: 50px; */
    text-align: center;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding-bottom: 5px;
    margin-bottom: 25px;
    letter-spacing: 4px;
    font-size: 18px;
}
input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus{
    border: solid rgb(12, 12, 12);
    border-width: 0px 0px 2px 0px;
    outline: none;
}
button {
    padding: 10px;
    border: none;
    background-color: #7431F9;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    width: 50%;
    transition: all 0.4s linear;
}

a {
    width: 100%;
    text-align: center;
}

button:hover {
    background-color: white;
    color: #7431F9;
    font-size: 17px;


}
.back{
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.back:hover{
    text-decoration: underline;
}